Django==1.9.2
click==6.2
django-redis-cache==1.6.5
-e git+https://github.com/ui/django-rq.git@3bd07acd92143fa4e77089b6d65cde5a7a6aee4b#egg=django_rq-master
redis==2.10.5
rq==0.5.6

six==1.10.0
django-environ==0.4.0

requests==2.9.1

py==1.4.31
pytest==2.8.7
pytest-django==2.9.1
