{% load dashboard_tags %}
<html>
<body>

<table>
    <tr>
    {% for key in data.0.keys %}
        <th>{{ key }}</th>
    {% endfor %}
        <th>Progress</th>
    </tr>
{% for row in data %}
    <tr>
        {% for value in row.values %}
        <td>{{ value }}</td>
        {% endfor %}
        <td>
            {% if row.xtras.jira_summary %}
                {{ row.xtras.jira_summary.pct_complete|percentage }}
            {% endif %}
        </td>
    </tr>
{% endfor %}
</table>

</body>
</html>
