{% extends "base.html" %}
{% load dashboard_tags %}


{% block title %}Project Dashboard{% endblock %}

{% block page_title %}Project Dashboard{% endblock %}

{% block page_lead %}Fresh progess updates from JIRA{% endblock %}

{%block content %}
<small><a href="{% google_sheet_url %}" title="Edit this table">Edit <span class="glyphicon glyphicon-edit"></span></a> || Updated: {{ updated }}</small>
<table class="table table-striped table-bordered table-hover table-condensed" id="projects">
  <thead class="thead">
    <tr>
    {% for key in data.0.keys %}
        <th rowspan="2">{{ key }}</th>
    {% endfor %}
        <th data-orderable="false" data-search="false" rowspan="2">Controls</th>
        <th date-orderable="false" data-search="false" rowspan="2">Days remaining</th>
        <th data-orderable="false" data-search="false" colspan="2">Today</th>
        <th data-orderable="false" data-search="false" colspan="2">Last week</th>
    </tr>
    <tr>
      <th>Complete</th>
      <th>Scope</th>
      <th>Complete</th>
      <th>Scope</th>
    </tr>

  </thead>
  <tbody>
  {% for row in data %}
      <tr>
          {% for value in row.values %}
          <td>{{ value }}</td>
          {% endfor %}
          <td>
            {% if row.xtras.jira_summary %}
              <a href="{{ JIRA_URL }}/secure/IssueNavigator.jspa?mode=hide&amp;requestId={{ row.xtras.jira_summary.filter_id }}" title="View JIRA filter"><span class="glyphicon glyphicon-filter"></span></a>
              <a href="{% url 'history' row.xtras.jira_summary.filter_id %}" title="View forecast"><span class="glyphicon glyphicon-calendar"></span></a>
            {% endif %}
          </td>
          <td>
          {% if row.xtras.predictions and row.xtras.jira_summary.pct_complete < 1 and row.xtras.predictions.0 > 0 %}
            {{ row.xtras.predictions.0 }} - {{ row.xtras.predictions.1 }}
          {% endif %}
          </td>
          {% if row.xtras.jira_summary_errors %}
          <td class="danger" colspan="2">
            <dl>
              <dt>Errors:</dt>
              {% for error in row.xtras.jira_summary_errors %}
              <dd>{{ error }}</dd>
              {% endfor %}
            </dl>
          </td>
          {% else %}
            {% with current=row.xtras.jira_summary previous=row.xtras.week_ago_summary %}
            {% progress_report current previous %}
            {% endwith %}
          {% endif %}

          {% with current=row.xtras.week_ago_summary previous=None %}
          {% progress_report current previous %}
          {% endwith %}
      </tr>
  {% endfor %}
</tbody>
</table>
{% endblock content %}
