{% load tz %}
{% load dashboard_tags %}
<html>
<body>

<table>
    <caption>
            Updated: {{ updated }}
    </caption>
    <tr>
    {% for key in data.0.keys %}
        <th>{{ key }}</th>
    {% endfor %}
        <th>Today</th>
        <th>Last week</th>
    </tr>
{% for row in data %}
    <tr>
        {% for value in row.values %}
        <td>{{ value }}</td>
        {% endfor %}
        <td>
            {% if row.xtras.jira_summary %}
                {{ row.xtras.jira_summary.pct_complete|percentage }} ({{ row.xtras.jira_summary.complete }}/{{ row.xtras.jira_summary.total }})
            {% endif %}
        </td>
        <td>
          {% if row.xtras.week_ago_summary %}
                {{ row.xtras.week_ago_summary.pct_complete|percentage }} ({{ row.xtras.week_ago_summary.complete }}/{{ row.xtras.week_ago_summary.total }})
          {% endif %}
        </td>
    </tr>
{% endfor %}
</table>

</body>
</html>
