{% extends "base.html" %}
{% load dashboard_tags %}


{% block title %}Project Forecast: {{ filter_id }}{% endblock title %}
{% block page_title %}Project Forecast: {{ filter_id }}{% endblock page_title %}

{% block content %}
<p><small><a href="{% url 'dashboard' %}" title="Back"><< Back</a></small></p>


<div class="col-md-6" style="padding-left: 0px">
  <h2>Forecast</h2>
  {% if not forecasts %}
  <div class="alert alert-warning">
    Not enough data to make a forecast.
  </div>
  {% endif %}
  {% for days, forecast in forecasts.items %}
  <table class="table table-striped table-bordered table-hover table-condensed" id="forecasts">
    <caption>
      Based on at most the past <strong>{{ days }} days</strong> performance with <strong>{{ forecast.scope }} tickets remaining</strong>
    </caption>
    {% if forecast.actual_scope != forecast.scope %}
    <caption class="alert alert-warning">
      {% with forecast.actual_scope|subtract:forecast.scope as ticket_diff %}This simulation assumes <strong>you {% if ticket_diff < 0 %}add{% else %}remove{% endif %} {{ ticket_diff|absvalue }} tickets</strong>.{% endwith %}
      There are actually {{ forecast.actual_scope }} tickets remaining.<br />
    </caption>
    {% endif %}
    <thead class="thead">
      <tr>
        <th>Percentile<sup>1</sup></th>
        <th>Forecasted end date<sup>2</sup></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>95th</td><td>{{ forecast.percentiles.2|week_ending }}</td>
      </tr>
      <tr>
        <td>75th</td><td>{{ forecast.percentiles.1|week_ending }}</td>
      </tr>
      <tr>
        <td>50th</td><td>{{ forecast.percentiles.0|week_ending }}</td>
      </tr>
      <tr>
        <td colspan="3">
          <small>
            <sup>1</sup> Percentage of 10,000 simulations completed this fast or faster<br />
            <sup>2</sup> Nearest Friday
          </small>
        </td>
      </tr>
    </tbody>
  </table>
  {% endfor %}

  <h2>Progress over past {{ recent_history|length }} days</h2>
  <table class="table table-striped table-bordered table-hover table-condensed" id="project_history">
      <thead class="thead">
        <tr>
          <th>Date</th>
          <th>Completed that day</th>
          <th>Total complete</th>
          <th>Scope</th>
          <th>Progress</th>
        </tr>
      </thead>
      <tbody>
      {% for history in recent_history %}
        <tr>
          <td>{{ history.0 }}</td>
          <td>{{ history.1 }}</td>
          <td>{{ history.2 }}</td>
          <td>{{ history.3 }}</td>
          <td>{{ history.4|percentage }}</td>
        </tr>
      {% endfor %}
      </tbody>
  </table>

</div>

<div class="col-md-6" style="padding-right: 0px">
  <div class="ct-chart ct-perfect-fourth"></div>
  <style type="text/css">
    .ct-series-a .ct-line, .ct-series-a .ct-point {
      /* Set the colour of this series line */
      stroke: #3B916A;
    }
    .ct-series-b .ct-line, .ct-series-b .ct-point {
      stroke: #f05b4f;
    }
    .ct-legend {
        position: relative;
        z-index: 10;
        list-style: none;
        text-align: left;
        padding: 25px 0 0 50px;
    }
    .ct-legend li {
        position: relative;
        padding-left: 15px;
        cursor: pointer;
    }
    .ct-legend li:before {
      width: 12px;
      height: 12px;
      position: absolute;
      left: 0;
      top: 5px;
      content: '';
      border: 3px solid transparent;
      border-radius: 2px;
    }
    .ct-legend li.inactive:before {
      background: transparent;
    }
    .ct-legend.ct-legend-inside {
      position: absolute;
      top: 0;
      right: 0;
    }
    .ct-legend.ct-legend-inside li{
      display: block;
      margin: 0;
    }
    .ct-legend .ct-series-0:before {
      background-color: #3B916A;
      border-color: #3B916A;
    }
    .ct-legend .ct-series-1:before {
      background-color: #f05b4f;
      border-color: #f05b4f;
    }
  </style>
  <script type="text/javascript">
  var data = {
    // A labels array that can contain any sort of values
    labels: [{% for history in recent_history %}'{{ history.0|date:"m-d" }}',{% endfor %}],
    // Our series array that contains series objects or in this case series data arrays
    series: [
      {
        'name': 'completed',
        'data': [{% for history in recent_history %}'{{ history.2}}',{% endfor %}]
      },
      {
        'name': 'scope',
        'data': [{% for history in recent_history %}'{{ history.3 }}',{% endfor %}]
      }
    ]
  };
  var options = {
    axisY: {
      onlyInteger: true,
    },
    plugins: [
        Chartist.plugins.legend({
            className: 'crazyPink'
        })
    ]
  }

  // Create a new line chart object where as first parameter we pass in a selector
  // that is resolving to our chart container element. The Second parameter
  // is the actual data object.
  new Chartist.Line('.ct-chart', data, options);
  </script>

</div>



{% endblock content %}
