{% extends "base.html" %}
{% load dashboard_tags %}


{% block title %}Project Forecast: {{ filter_id }}{% endblock title %}
{% block page_title %}Project Forecast: {{ filter_id }}{% endblock page_title %}

{% block content %}
<small><a href="{% url 'dashboard' %}" title="Back"><< Back</a></small>
<table class="table table-striped table-bordered table-hover table-condensed" id="project_history">
  <caption>Progress over past 90 days</caption>
    <thead class="thead">
      <tr>
        <th>Date</th>
        <th>Complete</th>
        <th>Total</th>
        <th>Progress</th>
      </tr>
    </thead>
    <tbody>
    {% for summary in filter_summaries %}
      <tr>
        <td>{{ summary.created_on }}</td>
        <td>{{ summary.complete }}</td>
        <td>{{ summary.total }}</td>
        <td>{{ summary.pct_complete|percentage }}</td>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}
